@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Valorant';
  src: local('Valorant'), url(./assets/fonts/ValorantFont.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

/* .fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
} */

.page-enter {
  will-change: transform;
  opacity: 0;
  transform: scale(1.05);
}

.page-enter-active {
  will-change: transform;
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
  will-change: transform;
}

.page-exit {
  will-change: transform;
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  will-change: transform;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 200ms, transform 200ms;
  will-change: transform;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}

.fade-exit-done {
  opacity: 0;
}

::selection {
  @apply bg-valred-800;
}

div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

div::-webkit-scrollbar-thumb {
  @apply rounded-full;
}

div::-webkit-scrollbar-track {
  @apply rounded bg-zinc-900;
}

div::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 transition duration-700;
}

div::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}

.hide-scroll ::-webkit-scrollbar {
  width: none;
  /* height: 8px; */
}

.masked-scroll::after {
  @apply absolute left-0 top-0 pointer-events-none w-full;
  content: '';
  height: calc(100% - 32px);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 91%, rgba(6, 10, 14, 100%) 94%);
}