@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Valorant';
  src: local('Valorant'),
    url(./assets/fonts/ValorantFont.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

/* .fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
} */

.page {
  will-change: transform, opacity;
}

.page-enter {
  opacity: 0;
  transform: scale(1.05);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 150ms;
  will-change: transform;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 200ms, transform 150ms;
  will-change: transform;
}

.fade {
  will-change: opacity;
}

.fade-enter {
  opacity: 0;
  transition: opacity 150ms;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}

.fade-exit {
  opacity: 1;
  transition: opacity 150ms;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}

.fade-exit-done {
  opacity: 0;
}

::selection {
  @apply bg-valred-800;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full;
}

::-webkit-scrollbar-track {
  @apply rounded bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 transition duration-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600;
}

.comboscroll ::-webkit-scrollbar-thumb {
  @apply bg-neutral-500;
}

.comboscroll ::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.hide-scroll ::-webkit-scrollbar {
  width: none;
  /* height: 8px; */
}

.masked-scroll::after {
  @apply pointer-events-none absolute left-0 top-0 w-full;
  content: '';
  height: calc(100% - 32px);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 91%,
    rgba(6, 10, 14, 100%) 94%
  );
}
